div#dates
	overflow hidden
	left 0
	top 10px
	width 100%
	
	> div#startText
		float left
		
	
	> div#startDate
		float left
		width 20%
		
	> div#endDate
		float right
		width 20%
		
	> div#endText
		float right
		
defs
	> path#arrow
		fill rgb(220,220,220)